.navbar-brand {
  img {
    height: 100%;
  }
}

footer {
  img {
    max-height: 20vh;
  }
}

.media {
  img {
    max-height: 20vh;
  }
}

.buttonLink {

  color : $text-color;
}

footer {
  img {
    display: block;

    margin: auto;
  }
}

.panel-body{
  img {

    max-height: 20vh;
  }
}

.panel-btn-bar {

	form.form-inline {

		display: inline;
	}
}
